@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
    @apply bg-stone-950 text-stone-600;
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
}

.button {
    @apply bg-stone-900 text-stone-200 border border-stone-700 rounded-lg px-4 py-2;
}

/* CENTER */
.center {
    box-sizing: content-box;
    margin-inline: auto;
    max-inline-size: var(--measure, 65ch);
  }

h1 {
    @apply text-3xl text-stone-200;
}

h2 {
    @apply text-lg text-stone-300 tracking-tight;
}

h3 {
    @apply text-base text-stone-300;
}

.list-item {
    @apply -mx-4 flex flex-col rounded-lg px-4 hover:bg-stone-200 sm:py-2 dark:hover:bg-stone-900;
}