@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
    font-family: "BerkeleyMono-Variable";
    src:
        url("fonts/BerkeleyMono-Regular.woff2") format("woff2"),
        url("fonts/BerkeleyMono-Regular.woff") format("woff");
}

body {
    @apply bg-stone-950 text-stone-600;
    /* font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; */
    font-family: "BerkeleyMono-Variable", ui-monospace;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
}

.button {
    @apply bg-stone-900 text-stone-200 border border-stone-700 rounded-lg px-4 py-2;
}

h1 {
    @apply text-3xl text-stone-200;
}

h2 {
    @apply text-lg text-stone-300 tracking-tight;
}

h3 {
    @apply text-base text-stone-300;
}

.list-item {
    @apply -mx-4 flex flex-col rounded-lg px-4 hover:bg-stone-200 sm:py-2 dark:hover:bg-stone-900;
}